<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body><h1> Edit Menu Item </h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>species:</p>
		<input type ='text' size='30' name='species' placeholder = '{{item.species}}'>
	<p>expense:</p>
		<input type ='text' size='30' name='expense' placeholder = '{{item.expense}}'>
	<p>diet:<p>

	{% if item.diet == 'Leaves' %}
		<dd><input type ='radio' name='diet' value='Leaves'checked >Leaves</dd>
	{%else%}
	<dd><input type ='radio' name='diet' value='Leaves' >Leaves</dd>
    {% endif %}

    {% if item.diet == 'Fruit' %}
       <dd><input type ='radio' name='diet' value='Fruit' checked>Fruit</dd>

    {%else%}
		<dd><input type ='radio' name='diet' value='Fruit'>Fruit</dd>
    {% endif %}

	{% if item.diet == 'Meat'%}
		<dd><input type ='radio' name='diet' value='Meat'checked >Meat</dd>

	{% else %}
	   <dd><input type ='radio' name='diet' value='Meat'>Meat</dd>

	{% endif %}


	{%if item.diet =='Beverage'%}
		<dd><input type ='radio' name='diet' value='Beverage'checked >Beverage</dd>
	{% else %}
		<dd><input type ='radio' name='diet' value='Beverage'>Beverage</dd>
	{% endif %}



<input type='submit' value='Edit'>


<a href = '#'> Cancel </a>


</form>
</body>
</html>

