<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Animal</h1>

<form action="#" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name'>
	<p>Species:</p>
		<input type ='text' size='30' name='species'>
	<p>expense:</p>
		<input type ='text' size='30' name='expense'>
	<p>Diet:</p>
		<input type ='radio'  name='diet' value ='Leaves'>Leaves</br>
		<input type ='radio'  name='diet' value ='Fruit'>Fruit</br>
		<input type ='radio' name='diet' value ='Meat'>Meat</br>
		<input type ='radio'  name='diet' value ='Grass'>Grass</br>
	</br>


<input type='submit' value='Create'>

</form>

</body>
</html>
