<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>zoos</h1>

<a href="{{url_for('newzoo')}}" > <h3> Create a New zoo </h3> </a>

{% for zoo in zoos %}



<a href = "{{url_for('showAnimal', zoo_id = zoo.id)}}"> <p>{{zoo.name}}</p></a>

<p><a href = "{{url_for('editzoo',zoo_id = zoo.id)}}">Edit zoo</a></p>

<p> <a href = "{{url_for('deletezoo',zoo_id = zoo.id)}}">Delete zoo</a> </p>




{% endfor %}

</div>
</body>

</html>
