<html>


<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>

<div class="header">
  <a href="#default" class="logo">Catalog App</a>
 
  <div class="header-right">
    <br/>
 
    <a class="active" href="#Login">Login</a>
   
  </div>
</div>
<br/>
<br/>

<table id="big" style='width: 100%'>
 <tr>
  <td></td>
  </tr>
 <tr>
  <td style='width: 75px'>
    <table style='width: 100%'>
     <tr>
      <td style='width: 12%'></td>
      <div  class="center">
	  <h1> Edit Restaurant </h1>


<form action="{{ url_for('editRestaurant',restaurant_id = restaurant.id)}}" method = 'post'>


	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{restaurant.name }}'>


<input type='submit' value='Edit'>


<a href = '{{url_for('showRestaurants')}}'> Cancel </a>
      {% for c in categories %} 
      <p>{{c.name}}</p>
      {% endfor %}
      <td style='width: 76%'> 
      


      </div>    
      </td>
      <td style='width: 12%'></td>
     </tr>
    </table>
  </td>
 
 </tr>
</table>

</body>
</html>